<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halo Semua</title>
</head>
<body>
    
</body>
<script>
    var nama = prompt('Siapa nama kamu? ');
    alert('Halo '+nama);

    var tampang = confirm('Apakah menurutmu ' + nama +' tampan?');

    switch(tampang){
        case true:
            alert('Begitu, '+nama+ ' memang tampan');
            break;
            
        case false:
            alert('Begitu-begitu, '+nama+' tetap tampan tau');
            break;
    }

    alert('Program Berakhir');
</script>
</html>